/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	color: #fff;
	text-align: center;
	font-weight: bold;
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: #fff;
	text-decoration: none;
	background: #16c0cb;
	border: 1px solid #16c0cb;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	color: #fff;
	background: #0e3962;
	border: 1px solid #0e3962;
}

.wp-pagenavi span.current {
	color: #fff;
	background: #0e3962;
	font-weight: bold;
}
