/*
Theme Name: original_cf
Description:Bootstrap
Author: 
Version: 2.0
*/

@import url('css/layout.css');

#mytest {display: none; visibility: hidden;}
@media screen and (max-width: 714px) { 
  #mytest {
    display: block; visibility: visible;
    width: 100%;
    height: auto;
    background-color: #FF7C00;
    position: fixed !important;  
    position: absolute;  
    bottom: 0;
    color: #fff;
  }
}

