/* CSS Document */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.container {
  max-width: none !important;
  width: 1080px; }

a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -Webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
.list-none li {
	list-style-type: none }

/* テーブルデザイン */
table .semi-white th,table .semi-white td {
	border: 1px solid #ccc;
	background: #eff7f8; }
table .semi-white th, table .non-color th {
	text-align: center; }
/*table .semi-white td + td {
	width: 160px; }*/
table .non-color th,table .non-color td {
	border: 1px solid #ccc;
	background: #fff; }
table .price_font {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000; }

.bg-fa{
	background: #fafafa !important;}
.duched {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #444; }

.nmt61 { margin-top: -61px !important;}
.nmt15 {
	margin-top: -15px; }
.nmt20 {
	margin-top: -20px; }
.mnb3 {
	margin-bottom: -3px;
}
.nmr5 {
	margin-right: -5px;
}
.nml10 {
	padding-right: 18px;
}
.pb70 {
  padding-bottom: 70px !important; }
.pr19 {
  padding-right: 19px !important;}

.pt30, .pv30,
.pa30 {
  padding-top: 30px !important; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px !important; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px !important; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px !important; }
.ml120 {
  margin-left: 120px !important; }
.ml100 {
  margin-left: 100px !important; }
.ml90 {
  margin-left: 90px !important; }
.ml70 {
  margin-left: 70px !important; }
.ml50 {
  margin-left: 50px !important; }
.mt50 {
  margin-top: 50px !important; }
.mb40 {
	margin-bottom: 40px !important; }
.mt30, .mv30,
.ma30 {
  margin-top: 30px !important; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px !important; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px !important; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px !important; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px !important; }
.pt15{padding-top: 15px !important;}
.pr20, .ph20,
.pa20 {
  padding-right: 20px !important; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px !important; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px !important; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px !important; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px !important; }
.mr20 {
	margin-right: 18px\9 !important; }
@media all and (-ms-high-contrast:none){
	.mr20, .mh20,
	.ma20 {
		margin-right: 18px !important; }
}

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px !important; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px !important; }
.mr15, .mh15,
.ma15 {
  margin-right: 15px !important; }
.pr15, .ph15,
.pa15 {
  padding-right: 15px !important; }
.pt10, .pv10,
.pa10 {
  padding-top: 10px !important; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px !important; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px !important; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px !important; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px !important; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px !important; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px !important; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px !important; }

.pl8, .ph8,
.pa8 {
  padding-left: 8px !important; }
  
.pt5, .pv5,
.pa5 {
  padding-top: 5px !important; }

.pr5, .ph5,
.pa5 {
  padding-right: 5px !important; }

.pb5, .pv5,
.pa5 {
  padding-bottom: 5px !important; }

.pl5, .ph5,
.pa5 {
  padding-left: 5px !important; }

.mt5, .mv5,
.ma5 {
  margin-top: 5px !important; }

.mr5, .mh5,
.ma5 {
  margin-right: 5px !important; }

.mb5, .mv5,
.ma5 {
  margin-bottom: 5px !important; }

.ml5, .mh5,
.ma5 {
  margin-left: 5px !important; }

.pr2, .ph2,
.pa2 {
  padding-right: 2px !important; }
.pt0, .pv0,
.pa0 {
  padding-top: 0px !important; }

.pr0, .ph0,
.pa0 {
  padding-right: 0px !important; }

.pb0, .pv0,
.pa0 {
  padding-bottom: 0px !important; }

.pl0, .ph0,
.pa0 {
  padding-left: 0px !important; }

.mt0, .mv0,
.ma0 {
  margin-top: 0px !important; }

.mr0, .mh0,
.ma0 {
  margin-right: 0px !important; }

.mb0, .mv0,
.ma0 {
  margin-bottom: 0px !important; }

.ml0, .mh0,
.ma0 {
  margin-left: 0px !important; }
.mt35{margin-top: 35px !important;}
.lheight180 {
	line-height: 180%; }

body {
  font-size: 14px; }

a {
  color: #444;
  text-decoration: none;
}
.col-xs-13 a {
  color: #124a80;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #16c0cb;
	text-decoration: underline;
}

.red {
  color: #bf1d3a; }

.fb {
	font-weight: bold }
.h1_basic {
  margin-top: 0px;
  background-image: url(../img/banner_bg.png);
  width: 1060px;
  height: 160px;
  color: #0e73cd;
  padding: 50px 0 0 60px;
  font-weight: bold;
  margin-left: 10px; }

.fa-chevron-circle-right {
  color: #ff8700; }


/*  header
-------------------------- */
.header_nav li {
  padding: 0; }

/*  headerNavi */
.cNav01 {
	width: 1060px;
	margin: 0 auto;
}
.cNav01 ul {
	padding: 0;
	margin: 0;
}
.cNav01 ul li {
	border: 1px solid #1da1ae;
	border-radius: 10px 10px 0 0;		/* CSS3草案 */
	-webkit-border-radius: 10px 10px 0 0;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px 10px 0 0;	/* Firefox用 */
	background: #16c0cb;
	color: #fff;
	width: 16.6666%;
	list-style: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	float: left;
}
.cNav01 ul li span {
	font-size: 16px;
}
.cNav01 ul li a {
	color: #fff;
	height: 46px;
	margin: 6px 0;
	display: block;
}
.cNav01 ul li:hover{
	background: #225381;
}
.cNav01 ul a:hover{
	text-decoration: none;
}
#feature {
	background: #eff7f8; }
#feature .header-content {
	position: relative; }
#feature .header-content .feature-title {
	color:#225381;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(117, 195, 255, 1);
	position: absolute;
	top: -119px;
	left: 50px;
	z-index: 100;
}


/*  breadcrumb
-------------------------- */
#page-breadcrumb .fa {
	font-size: 18px; }


/*  sidebar
-------------------------- */
.side_contact {
  border-color: #0e3962; }
.side_contact p {
  text-align: center; }
.side_contact .panel-heading {
  background-color: #159137; }

#sidebar i {
  color: #f4ba00; 
	font-size: 22px;
	padding-right: 10px; }

#sidebar .list-group a {
	color: #16c0cb;
	font-size: 16px;
	border: solid 1px #16c0cb; }
#sidebar .list-group a span {
	font-size: 12px;
	padding-right: 10px;
	display: block;
	float: left;
	margin-top: -1px;
	}

#sidebar #collapseOne i {
	font-size: 16px; }

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }
.panel {
  border-radius: 0px; }

/* sidelist */
.panel > .list-group {
	vertical-align: middle;
	margin: 10px 0;
}
.list-group-item {
	border: none;
}
.listItem01 {
	color: #444 !important;
	font-size: 14px !important;
	border: 1px dashed #ddd !important;
	border-width: 1px !important;
	margin:  0 10px;
	background-color: #fbfbfb;
}
.listItem01 i {
	font-size: 14px !important; }
.panel > .list-group:last-child .list-group-item:last-child {
	border: 1px dashed #ddd;
}


/*  footer
-------------------------- */
footer .row .pull-left:first-child {
	border-right: solid 1px #ddd; }

.footer_bg {
  background-color: #eff7f8;
  padding: 15px 5px; }

footer {
  margin-top: 30px; }
  footer h4 {
    color: #0e3962;
    font-weight: bold;
    font-size: 18px; }
  footer .col-xs-3 {
    font-size: 14px;
	width: 25%;
    margin: 10px 0;
	padding: 0; 
}
.footInner {
	width: 980px;
	margin: 0 auto;
}

/*  mainContants
-------------------------- */
.fa-circle-o {
  color: #f4ba00;
  font-weight: bold;
  margin-right: 5px; }

.mainview {
  background: #eff7f8;
  padding: 10px 0 20px;
  margin-bottom: 20px; }

.top_product {
  padding: 0 5px;
  }
  .top_product p {
		margin: 0;
		margin-right: -20px;
		font-weight: bold; }

/* 見出し */
.content_h2 {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 3px solid #0e3962;
  margin: 40px 0 15px 0;
  font-weight: bold; }

.subpage h3 {
	color: #fff;
	background: #0e3962;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px 0 8px 10px }
	
.subpage h4 {
	color: #fff;
	background: #16c0cb;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px 0 8px 10px }


/* トップページ：形状から選ぶ */	
.home .col-xs-13 .row .col-xs-4 {
	width: 25%; }
.home .col-xs-13 .thumbnail {
	background: url(../img/top_bg_figcaption01.gif) no-repeat right bottom;
	padding: 0; }
.home .col-xs-13 .thumbnail:hover {
	background: url(../img/top_bg_figcaption02.gif) no-repeat right bottom;
	-Webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }
.home .col-xs-13 figure {
	text-align: center; }
.home .col-xs-13 figcaption {
	color: #fff;
	height: 40px;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	vertical-align: middle;
	padding: 10px 0 0 5px; }
.lineup a{
	text-decoration: none;
	color: #333333;
}

.caption p {
  font-size: 14px; }

.top_design {
  width: 540px;
	margin-left: 190px; }
.top_design h3 {
	font-weight: bold; }
.top_design p {
	line-height: 180%; }

.content_contact {
  background-image: url(../img/content_contact_bg.jpg);
  background-repeat: no-repeat;
  width: 762px;
  height: 242px;
  padding: 60px 0 0 15px; }


.flow h3 {
  background-image: url(../img/flow_title_bg.gif);
  background-repeat: repeat-x;
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
  color: #0e73cd; }
  .flow h3 img {
    margin-right: 15px; }


.estimate_table .table th {
  width: 181px;
  line-height: 20px; padding-right: 0;}
  
  
.estimate_table .table th span {
	background-color: #ff3456;
	color: #f9fdfb;
	padding: 2px;
	border-radius: 4px;
	font-size: 10px;
	margin-left: 5px; }

.estimate_table .table th .black {
	background-color: #777; }

.estimate_table .table td {
  width: 578px; }
.estimate_table textarea { width: 543px !important;  }
  .estimate_table .table td .cf{
  width: 560px; }
  
  .estimate_table .table td p{
  width: 530px; }
.estimate_table .est3column {
  padding: 10px; }
  .estimate_table .est3column li {
    width: 31.8%;
    margin-right: 0.5%;
    margin-left: 0.5%; }
    .estimate_table .est3column li img {
      width: 100%;
      height: auto;
      padding-bottom: 4px; }
.estimate_table .est4column {
  padding: 10px; }
  .estimate_table .est4column li {
    width: 23.3%;
    margin-right: 0.5%;
    margin-left: 0.5%;
	font-size: 11px }
    .estimate_table .est4column li img {
      width: 100%;
      height: auto;
      padding-bottom: 4px; }
.estimate_table .guide_2column {
  padding: 10px 10px; }
  .estimate_table .guide_2column h4 {
    background-color: #e5e5e5;
    text-align: center;
    padding: 5px 0;
    font-weight: bold; }
  .estimate_table .guide_2column table {
    width: 370px; }
    .estimate_table .guide_2column table thead {
      background-color: #535353;
      color: #fff; }
    .estimate_table .guide_2column table td:first-child {
      background-color: #e5e5e5; }
  .estimate_table .guide_2column .original_size {
    width: 410px; }

.naireorder_point h3 {
  font-size: 18px;
  color: #0e73cd;
  font-weight: bold; }
.naireorder_point .border_bottom {
  border-bottom: dotted 1px #777; }


//////
header {
	background-color: #555;
}
.header_h1 {
	position: absolute;
	left: 26px;
	top: -16px;
	z-index: 9999;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5em;
}

.topDesignBox {
	background: url(../img/bgtopDesignBox01.jpg) no-repeat center center;
	border: none;
}
.topDesignBox h3 {
	color: #0e3962;
	font-size: 35px;
}
.topDesignBox a > img {
	margin: 0;
}
.btnmg01 {
	margin: 20px 0;
}



/* 初めての方へ */
.subpage .thumbnail {
	width: 32.4561%;
	background: #eff7f8;
	float: left;
	padding: 12px;
	border-radius: 10px;
	border-top: 1px solid #0e3962;
}
.selvice_ttl {
	color: #0e3962;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.subpage .btn {
	text-decoration: none;
	width: 100%;
}
.subpage .novelty_txt {
	width: 60%;
}
.subpage .novelty_txt span {
	color: #0e3962;
	font-size: 26px;
	font-weight: bold;
	line-height: 140%;
}
.subpage figure {
	margin-right: 19px;
}
.subpage figcaption {
	color: #0e3962;
	text-align: center;
}
.subpage .about01, .about02, .about03 {
	position: relative;
}
.subpage .about01 p {
	width: 58%;
	position: absolute;
	top: 190px;
	left: 10px;
}
.subpage .about02 p {
	width: 58%;
	position: absolute;
	top: 130px;
	left: 315px;
}
.subpage .about03 p {
	width: 58%;
	position: absolute;
	top: 140px;
	left: 15px;
}


/* ご注文の流れ */
.subpage .h3_flow01 {
	background: url(../img/h3_flow01.jpg) no-repeat left bottom;
	height: 60px;
	padding: 23px 0 0 70px;
}
.subpage .h3_flow02 {
	background: url(../img/h3_flow02.jpg) no-repeat left bottom;
	height: 60px;
	padding: 23px 0 0 70px;
}
.subpage .h3_flow03 {
	background: url(../img/h3_flow03.jpg) no-repeat left bottom;
	height: 60px;
	padding: 23px 0 0 70px;
}
.subpage .h3_flow04 {
	background: url(../img/h3_flow04.jpg) no-repeat left bottom;
	height: 60px;
	padding: 23px 0 0 70px;
}
.subpage .h3_flow05 {
	background: url(../img/h3_flow05.jpg) no-repeat left bottom;
	height: 60px;
	padding: 23px 0 0 70px;
}
.subpage .flow_txt {
	width: 66%;
}


/* データ入稿・デザインについて */
.nyuko_list li {
  background-image: url(../img/check_icon.png);
  background-repeat: no-repeat;
  padding-left: 45px;
  background-position: 15px 50%;
  border-radius: 0;
  font-weight: bold; }
.nyuko_list .list_bg {
  background-color: #e5e5e5; }
.draft-table td {
	padding: 6px !important;
}
.draft-table th {
	text-align: center; }
.draft-table .center { text-align: center; }

/* オリジナルデザイン制作 */
.design_table th, .design_table td {
	padding: 6px;
}
.design_table .design {
	width: 230px;
}
.design_table .price {
	width: 140px;
	text-align: center;
}



/* よくあるご質問 */
.panel-info { border-color:  #16c0cb; }
.panel-info > .panel-heading { background-color:  #16c0cb; color: #fff; font-weight: bold; }


/* フルオーダークリアファイル */
.subpage .fullorder_txt01 { width: 79%; }
.subpage .fullorder_txt02 p { width: 62%; }
.subpage .fullorder_txt02 .red {
	font-size: 18px;
	font-weight: bold; }
.fullorder_table {
	width: 100%; }
.fullorder_table th {
	width: 170px; }
.fullorder_table td + td {
	width: 160px; }
.fullorder_table th, .fullorder_table td {
	padding: 20px; }


/* 特定商取引法 */
.tradelaw_table th {
	width: 170px; }
.tradelaw_table th, .tradelaw_table td {
	padding: 10px; }
.tradelaw_table th {
	text-align: left !important; }


/*角丸ボックスバージョンエコバッグ*/
.thumbnail-eco {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #fff;
  border: 4px solid #eee;
  border-radius: 4px;
  -Webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }
  .thumbnail-eco > img,
  .thumbnail-eco a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .thumbnail-eco .caption {
    padding: 9px;
    color: #333333; }
	
	
/*普遍的な箱*/
.standard-box-01 {
	padding: 18px 15px 19px 9px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
	display: block;
	margin-top: -1px;
	line-height: 1.42857;
	background-color: #fff;
	border: 1px solid #b3b3b3;
}
.standard-box-01 img {
	margin: auto 15px auto 15px;
}
.standard-box-01 h3 {
	margin-top: 0;
		padding-top: 0;
		font-size: 22px;
		font-weight: bold;
		color: #31954c;
}
.standard-box {
	width: 100%;
	margin-top: -1px;
	border-spacing: 0;
	line-height: 1.42857;
}
.standard-box > img {
	float: left;
	width: 28.947%;
	margin-top: 9px;
}
.standard-box-txt {
	float: left;
	width: 71.05%;
	min-height: 180px;
	height: auto;
	padding-left: 15px;
	color: #555;
}
.standard-box-txt-only {
	padding: 8px 20px 8px 20px;
	
}
.standard-wrap .standard-box:first-child {
	margin-top: 0;
}
.standard-box-table {
	color: #555;
	width: 100%;
}
.standard-box-table th {
	width: 200px;
	font-weight:normal;
	text-align: center;
}
.standard-box-table th img {
	margin-left: 10px;
}
.standard-box-table td {
	padding-left: 20px;
	padding-right: 20px;
}
.standard-box-table th,.standard-box-table td {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #b3b3b3;
}
.standard-box-table .green {
	font-size: 18px;
	font-weight:bold
}
.standard-box-table ul {
	margin-left: 0;
	padding-left: 0;
}
.standard-box-table ul li {
	float: left;
	width: 51px;
	height: 72px;
	margin-left: 25px;
	font-size: 10px;
	list-style-type: none;
	text-align: center;
}
.standard-box-table ul li:first-child {
	margin-left: 0 }
.nls3 {
	letter-spacing: -0.3em;
}

/*参考価格表*/
.price-table {
	width: 100%;
	margin-bottom: 10px;
	border-collapse:collapse;
}
.price-table th	{
	padding: 10px 11px;
	border: 1px solid #b3b3b3;
	color: #555;
	background: #eff7f8;
}
.price-table td {
	padding: 6px 11px;
	border: 1px solid #b3b3b3;
}
/*サイズを選ぶ*/
.size-txt h3:first-child + p + a{
	margin: 10px 0 15px 0;
}
.size-txt a {
	display:block;
	text-decoration: underline;
}
.size-txt a:hover {
	text-decoration: none; }	

.size-txt a img {
	display: inline-block;
	width: inherit;
	height: inherit;
	margin: -5px 5px 0 0;
	padding-left: 0;
	border: 0;
}
.size-tit {
	color: #31954c;
	font-weight: bold;
	font-size: 14px;
	margin: 0 0 10px 0;
}

/* 制作実例集 */
.jisseki-img {
	width: 37%;
}
.jisseki-img img {
	width: 100%;
	height: auto;
}
.jisseki-table {
	width: 60%;
}
.blog-text {
	background: #eee;
	padding: 30px;
}
/* サイドバー（ブログアーカイブ）*/
.sideBlog p {
	margin-bottom: 0;
}
.sideBlog-title {
	font-size: 20px;
	line-height: 160%;
	border-bottom: 3px #16c0cb solid;
}
.sideBlog ul{
	list-style: none;
	padding: 10px 0 20px 10px;
}
.sideBlog .use{
	padding: 15px 10px 20px 10px;
}


/* お問い合わせフォーム */
.btn-primary,.wpcf7c-btn-confirm,.wpcf7c-btn-back {
	display: block;
	width: 30% !important;
	text-align: center;
	margin: 0 auto;
}

/* ページナビ */
.pager {
  text-align: center;
}
.pager .prev a,.pager .next a {
	position: relative;
	display: inline-block;
	width: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.pager .prev a {
	padding-right: 21px;
	padding-left: 12px;
	border: 1px solid #0e3962;
	color: #0e3962;
	text-align: right;
	background: #fff;
}
.pager .next a {
	padding-right: 12px;
	padding-left: 21px;
	border: 1px solid #119ca9;
	color: #fff;
	text-align: left;
	background: #16c0cb;
}
.pager .next a:hover {
	background: #0e3962;
}
.pager .prev a i,.pager .next a i {
	position: absolute;
	font-size: 24px;
	color: #f9d800;
}
.pager .prev a i{
	top: 10px;
	left: 12px;
}
.pager .next a i {
	top: 10px;
	right: 12px;
}

/*-----------Begin price_normal page ----------*/
.price_normal-h2 {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 3px dotted #b8b8b8;
  margin: 40px 0 15px 0;
  font-weight: bold; 
}
.price_normal-h2 .fa-circle-o {
  color: #aaa;
  font-weight: bold;
  margin-right: 5px; 
}
.price_normal-content{margin-top: 20px;}
.price_normal-content .price_normal-img{
	float: left;
	margin-right: 20px;
}
.price_normal-content .price_normal-text{
	float: left;
	width: 518px;
}
.price_normal-content .price_normal-text .price_normal-title{	
	background-color: #16c0cb;
	font-size: 15px;	
	color: #222;
	margin-top: 0;
}
h4.price_normal-h4{	
	background-color: #16c0cb;
	font-size: 15px;	
	color: #222;
	margin-top: 0;
}
.price_normal-navi{
	margin-top: 20px;	
	list-style: none; 	
	padding: 0;			
}
.price_normal-navi li{			
	float: left;
}
.price_normal-table{
	width: 100%;
	margin-bottom: 10px;
	border-collapse:collapse;
}
.price_normal-table th{
	font-size: 12px;
	background-color: #e7e6e6;
	text-align: center;
	color: #000;
	border: 1px solid #000;
}
.price_normal-table td{
	font-size: 12px;
	background-color: #fdfdfd;
	text-align: center;
	color: #000;
	border: 1px solid #000;	
}
/*-----------End price_normal page ----------*/